html{
    background-color: var(--color-grey-5);
}
::-webkit-scrollbar {
    width: 0;
    height: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 0;
    height: 0;
}

.main-section{
    position: relative;
    margin: 120px 7vw;
}

#sugestoes {
    position: fixed;
    top: 120px;
    right: 3vw;
    flex-direction: column;
    gap: 36px;
    width: 380px;
    max-width: 30%;
}

#sugestoes ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#sugestoes ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sugested-user {
    color: var(--color-grey-1);
    height: 52px;
    display: flex;
    gap: 12px;
}

#sugestoes ul{
    margin-top: 30px;
}

#sugestoes ul li img {
    max-height: 100%;
}

#sugestoes ul li span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 
@media (max-width: 1650px) {
    .sugested-user div h3 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 4px;
    }

    .sugested-user di h5 {
        font-size: 0.8em;
        line-height: 1em;
    }
} */

@media (max-width: 1120px) {

    #sugestoes {
        max-width: 30%;
        display: flex;
    }
    #sugestoes ul{
        margin-top: 0;
    }

    #sugestoes h3{
        font-size: 1.8vw;
        line-height: 13px
    }
    #sugestoes h5{
        font-size: 1.4vw;        
        line-height: 12px
    }
    #sugestoes button{
        margin-left: 20px;
    }
}


@media (max-width: 720px) {
    #posts-section, #create-post-section{
        min-width: 100%;
        padding: 0;
        margin: 0;
    }

    .post{
        padding: 0;
    }

    .post-header{
        padding: 0;
    }

    #sugestoes {
        position: relative;
        display: flex;
        top: 23px;
        max-width: 100%;
        width: 250px;
        margin-bottom: 20px;
    }
    
    #sugestoes ul{
        margin-top: 0;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    
    #sugestoes li{
        height: 70px;
    }
    #sugestoes li button{
        height: 30px;        
    }
    
    #sugestoes h3{
        font-size: 16px;
        line-height: 15px;
        padding-bottom: 7px;
    }

    #sugestoes h5{
        font-size: 12px;
        line-height: 10px;
    }

}
/* 

@media (max-width: 380px) {
    
} 
*/