.tittle1{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: var(--color-grey-1)
}

.tittle2{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-grey-1)
}

.text1{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-grey-3)
}

.text2{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-3)
}

.text3{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-3)
}