input {
    color: var(--color-grey-3);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 4px;
    border: 2px solid var(--color-grey-4);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

input:focus {
    color: var(--color-grey-1);
    outline: 2px solid var(--color-brand-1);
    border: none;
}

input:valid {
    color: var(--color-grey-2);
}